In [1]:
import numpy as np
import pandas as pd
import ast
import nltk
from rake_nltk import Rake
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [2]:
df = pd.read_csv("datasets/tmdb_5000_movies.csv")

In [3]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
df.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [5]:
df_main = df[["genres","id","original_title","overview","production_companies", "production_countries", "release_date","vote_average","vote_count"]]

In [6]:
df_main.head()

,genres,id,original_title,overview,production_companies,production_countries,release_date,vote_average,vote_count
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,7.2,11800
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,6.9,4500
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,6.3,4466
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,7.6,9106
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,John Carter,"John Carter is a war-weary, former military ca...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,6.1,2124

In [7]:
df_main.isna().sum()

genres                  0
id                      0
original_title          0
overview                3
production_companies    0
production_countries    0
release_date            1
vote_average            0
vote_count              0
dtype: int64

In [8]:
df_main = df_main.dropna()

In [9]:
def extract_names(x):
    try:
        if pd.isna(x) != True:
            names = []
            data_list = ast.literal_eval(x)
            for i in data_list:
                names.append(i["name"])
            return ",".join(names)
        else:
            return np.nan
    except:
        return np.nan

In [10]:
df_main["genres"] = df_main["genres"].apply(extract_names)

In [11]:
df_main["production_companies"] = df_main["production_companies"].apply(extract_names)

In [12]:
df_main["production_countries"] = df_main["production_countries"].apply(extract_names)

In [13]:
df_main.head()

,genres,id,original_title,overview,production_companies,production_countries,release_date,vote_average,vote_count
0,"Action,Adventure,Fantasy,Science Fiction",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Ingenious Film Partners,Twentieth Century Fox ...","United States of America,United Kingdom",2009-12-10,7.2,11800
1,"Adventure,Fantasy,Action",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","Walt Disney Pictures,Jerry Bruckheimer Films,S...",United States of America,2007-05-19,6.9,4500
2,"Action,Adventure,Crime",206647,Spectre,A cryptic message from Bond’s past sends him o...,"Columbia Pictures,Danjaq,B24","United Kingdom,United States of America",2015-10-26,6.3,4466
3,"Action,Crime,Drama,Thriller",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"Legendary Pictures,Warner Bros.,DC Entertainme...",United States of America,2012-07-16,7.6,9106
4,"Action,Adventure,Science Fiction",49529,John Carter,"John Carter is a war-weary, former military ca...",Walt Disney Pictures,United States of America,2012-03-07,6.1,2124

In [14]:
df_main.dtypes

genres                   object
id                        int64
original_title           object
overview                 object
production_companies     object
production_countries     object
release_date             object
vote_average            float64
vote_count                int64
dtype: object

In [15]:
df2 = pd.read_csv("datasets/tmdb_5000_credits.csv")

In [16]:
df2.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
df2.isna().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [18]:
def cast(x):
    names = []
    data_list = ast.literal_eval(x)
    for i in data_list:
        names.append(i["name"])
    return ",".join(names)

In [19]:
df2["cast_names"] = df2["cast"].apply(cast)

In [20]:
def crew(x):
    names = []
    data_list = ast.literal_eval(x)
    crew_mem = ["Producer", "Director", "Writer", "Novel", "Screenplay"]
    for i in data_list:
        if i["job"] in crew_mem:
            if i["name"] not in names:
                names.append(i["name"])
    return ",".join(names)

In [21]:
df2["crew_names"] = df2["crew"].apply(crew)

In [22]:
df2.head()

,movie_id,title,cast,crew,cast_names,crew_names
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","Sam Worthington,Zoe Saldana,Sigourney Weaver,S...","James Cameron,Jon Landau"
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","Johnny Depp,Orlando Bloom,Keira Knightley,Stel...","Gore Verbinski,Jerry Bruckheimer,Ted Elliott,T..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph...","Sam Mendes,John Logan,Barbara Broccoli,Robert ..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","Christian Bale,Michael Caine,Gary Oldman,Anne ...","Charles Roven,Christopher Nolan,Jonathan Nolan..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","Taylor Kitsch,Lynn Collins,Samantha Morton,Wil...","Andrew Stanton,Colin Wilson,Jim Morris,Lindsey..."

In [23]:
df2_main = df2[["movie_id", "cast_names", "crew_names"]]

In [24]:
df2_main.dtypes

movie_id       int64
cast_names    object
crew_names    object
dtype: object

In [25]:
df2_main.rename(columns={"movie_id": "id"}, inplace = True)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\3057690192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_main.rename(columns={"movie_id": "id"}, inplace = True)

In [26]:
df2_main.head()

,id,cast_names,crew_names
0,19995,"Sam Worthington,Zoe Saldana,Sigourney Weaver,S...","James Cameron,Jon Landau"
1,285,"Johnny Depp,Orlando Bloom,Keira Knightley,Stel...","Gore Verbinski,Jerry Bruckheimer,Ted Elliott,T..."
2,206647,"Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph...","Sam Mendes,John Logan,Barbara Broccoli,Robert ..."
3,49026,"Christian Bale,Michael Caine,Gary Oldman,Anne ...","Charles Roven,Christopher Nolan,Jonathan Nolan..."
4,49529,"Taylor Kitsch,Lynn Collins,Samantha Morton,Wil...","Andrew Stanton,Colin Wilson,Jim Morris,Lindsey..."

In [27]:
merged_df = pd.merge(df_main, df2_main, on='id', how='inner')

In [28]:
merged_df.head()

,genres,id,original_title,overview,production_companies,production_countries,release_date,vote_average,vote_count,cast_names,crew_names
0,"Action,Adventure,Fantasy,Science Fiction",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Ingenious Film Partners,Twentieth Century Fox ...","United States of America,United Kingdom",2009-12-10,7.2,11800,"Sam Worthington,Zoe Saldana,Sigourney Weaver,S...","James Cameron,Jon Landau"
1,"Adventure,Fantasy,Action",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","Walt Disney Pictures,Jerry Bruckheimer Films,S...",United States of America,2007-05-19,6.9,4500,"Johnny Depp,Orlando Bloom,Keira Knightley,Stel...","Gore Verbinski,Jerry Bruckheimer,Ted Elliott,T..."
2,"Action,Adventure,Crime",206647,Spectre,A cryptic message from Bond’s past sends him o...,"Columbia Pictures,Danjaq,B24","United Kingdom,United States of America",2015-10-26,6.3,4466,"Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph...","Sam Mendes,John Logan,Barbara Broccoli,Robert ..."
3,"Action,Crime,Drama,Thriller",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"Legendary Pictures,Warner Bros.,DC Entertainme...",United States of America,2012-07-16,7.6,9106,"Christian Bale,Michael Caine,Gary Oldman,Anne ...","Charles Roven,Christopher Nolan,Jonathan Nolan..."
4,"Action,Adventure,Science Fiction",49529,John Carter,"John Carter is a war-weary, former military ca...",Walt Disney Pictures,United States of America,2012-03-07,6.1,2124,"Taylor Kitsch,Lynn Collins,Samantha Morton,Wil...","Andrew Stanton,Colin Wilson,Jim Morris,Lindsey..."

In [29]:
merged_df.isna().sum()

genres                  0
id                      0
original_title          0
overview                0
production_companies    0
production_countries    0
release_date            0
vote_average            0
vote_count              0
cast_names              0
crew_names              0
dtype: int64

In [30]:
merged_df.shape

(4799, 11)

In [31]:
# merged_df.to_csv("datasets/model_data.csv", index = False)

In [33]:
nltk.download("stopwords")
nltk.download("punkt")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\alain\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\alain\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [34]:
### content based

In [69]:
data1 = merged_df[["genres", "original_title", "overview", "production_companies", "production_countries", "cast_names", "crew_names"]]

In [71]:
def convert(x):
    if pd.isna(x) == False:
        return str(x).lower().split(",")
    else:
        return ""

In [73]:
data1["genres"] = data1["genres"].apply(convert)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\3432001044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["genres"] = data1["genres"].apply(convert)

In [75]:
data1["overview"] = data1["overview"].apply(convert)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\1709033294.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["overview"] = data1["overview"].apply(convert)

In [77]:
data1["production_companies"] = data1["production_companies"].apply(convert)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\3119289111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["production_companies"] = data1["production_companies"].apply(convert)

In [79]:
data1["production_countries"] = data1["production_countries"].apply(convert)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\637867445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["production_countries"] = data1["production_countries"].apply(convert)

In [81]:
data1["cast_names"] = data1["cast_names"].apply(convert)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\3964670989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["cast_names"] = data1["cast_names"].apply(convert)

In [83]:
data1["crew_names"] = data1["crew_names"].apply(convert)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\1711649332.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["crew_names"] = data1["crew_names"].apply(convert)

In [85]:
data1.head()

,genres,original_title,overview,production_companies,production_countries,cast_names,crew_names
0,"[action, adventure, fantasy, science fiction]",Avatar,"[in the 22nd century, a paraplegic marine is ...","[ingenious film partners, twentieth century fo...","[united states of america, united kingdom]","[sam worthington, zoe saldana, sigourney weave...","[james cameron, jon landau]"
1,"[adventure, fantasy, action]",Pirates of the Caribbean: At World's End,"[captain barbossa, long believed to be dead, ...","[walt disney pictures, jerry bruckheimer films...",[united states of america],"[johnny depp, orlando bloom, keira knightley, ...","[gore verbinski, jerry bruckheimer, ted elliot..."
2,"[action, adventure, crime]",Spectre,[a cryptic message from bond’s past sends him ...,"[columbia pictures, danjaq, b24]","[united kingdom, united states of america]","[daniel craig, christoph waltz, léa seydoux, r...","[sam mendes, john logan, barbara broccoli, rob..."
3,"[action, crime, drama, thriller]",The Dark Knight Rises,[following the death of district attorney harv...,"[legendary pictures, warner bros., dc entertai...",[united states of america],"[christian bale, michael caine, gary oldman, a...","[charles roven, christopher nolan, jonathan no..."
4,"[action, adventure, science fiction]",John Carter,"[john carter is a war-weary, former military ...",[walt disney pictures],[united states of america],"[taylor kitsch, lynn collins, samantha morton,...","[andrew stanton, colin wilson, jim morris, lin..."

In [87]:
def join_names(x):
    return [name.replace(" ", "") for name in x]

In [89]:
data1["cast_names"] = data1["cast_names"].apply(join_names)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\3819760842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["cast_names"] = data1["cast_names"].apply(join_names)

In [91]:
data1["crew_names"] = data1["crew_names"].apply(join_names)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\2455027506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["crew_names"] = data1["crew_names"].apply(join_names)

In [93]:
data1["production_companies"] = data1["production_companies"].apply(join_names)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\3995409750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["production_companies"] = data1["production_companies"].apply(join_names)

In [95]:
data1["production_countries"] = data1["production_countries"].apply(join_names)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\1829858849.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["production_countries"] = data1["production_countries"].apply(join_names)

In [97]:
def key_words(x):
    r = Rake()
    r.extract_keywords_from_text(x[0])
    key_words_scores = r.get_word_degrees()
    return list(key_words_scores.keys())

In [99]:
data1["overview"] = data1["overview"].apply(key_words)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\1243523397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["overview"] = data1["overview"].apply(key_words)

In [100]:
data1.set_index('original_title', inplace=True)

In [103]:
data1["combined_data"] = data1.apply(lambda row: [item for sublist in row for item in sublist], axis=1)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\469440472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["combined_data"] = data1.apply(lambda row: [item for sublist in row for item in sublist], axis=1)

In [105]:
data1["combined_data"] = data1["combined_data"].apply(lambda x: " ".join(x))

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\3782013469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1["combined_data"] = data1["combined_data"].apply(lambda x: " ".join(x))

In [107]:
data1_main = data1["combined_data"]

In [109]:
data1_main = pd.DataFrame(data1_main)

In [111]:
data1_main.head()

                                                                              combined_data
original_title
Avatar                                    action adventure fantasy science fiction 22nd ...
Pirates of the Caribbean: At World's End  adventure fantasy action captain barbossa walt...
Spectre                                   action adventure crime cryptic message bond ’ ...
The Dark Knight Rises                     action crime drama thriller following death di...
John Carter                               action adventure science fiction john carter w...

In [113]:
count = CountVectorizer()

In [115]:
count_matrix = count.fit_transform(data1_main["combined_data"])

In [117]:
cosine_sim = cosine_similarity(count_matrix,count_matrix)

In [119]:
with open('models/cosine_sim.pkl', 'wb') as file:
    pickle.dump(cosine_sim, file)

In [121]:
indices = pd.Series(data1_main.index)

In [123]:
ndf = df[["id", "original_title"]]

In [127]:
def recommendation(title, cosine_sim = cosine_sim):
    recommended_movies = []

    idx = indices[indices == title].index[0]
    scores = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_10_idx = list(scores.iloc[1:11].index)
    for i in top_10_idx:
        recommended_movies.append(data1_main.index[i])
    return recommended_movies,

In [129]:
recommendation("The Yards")

(["Amidst the Devil's Wings",
  'The Mighty Macs',
  'This Thing of Ours',
  'The Way of the Gun',
  'The Hunted',
  'Kiss of Death',
  'We Own the Night',
  'Jimmy and Judy',
  'Contraband',
  'Shooter'],)

In [131]:
#Based on production companies

In [133]:
df2 = merged_df[["original_title", "id", "production_companies", "vote_average", "vote_count"]]

In [135]:
def join_names(x):
    if pd.isna(x):
        return ""
    else:
        n = x.split(",")
        n = [name.replace(" ", "") for name in n]
        return " ".join(n)

In [137]:
df2["production_companies"] = df2["production_companies"].apply(join_names)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\215219623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["production_companies"] = df2["production_companies"].apply(join_names)

In [139]:
df2.head()

,original_title,id,production_companies,vote_average,vote_count
0,Avatar,19995,IngeniousFilmPartners TwentiethCenturyFoxFilmC...,7.2,11800
1,Pirates of the Caribbean: At World's End,285,WaltDisneyPictures JerryBruckheimerFilms Secon...,6.9,4500
2,Spectre,206647,ColumbiaPictures Danjaq B24,6.3,4466
3,The Dark Knight Rises,49026,LegendaryPictures WarnerBros. DCEntertainment ...,7.6,9106
4,John Carter,49529,WaltDisneyPictures,6.1,2124

In [141]:
C = df2['vote_average'].mean()
m = df2['vote_count'].quantile(0.75)

In [143]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [145]:
df2['weighted_rating'] = df2.apply(weighted_rating, axis=1)

C:\Users\alain\AppData\Local\Temp\ipykernel_28316\3647870323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['weighted_rating'] = df2.apply(weighted_rating, axis=1)

In [147]:
count_vectorizer = CountVectorizer()
count_matrix = count_vectorizer.fit_transform(df2['production_companies'])

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [ ]:
with open('models/cosine_sim_prod.pkl', 'wb') as file:
    pickle.dump(cosine_sim, file)

In [167]:
df_main = df2[["original_title", "weighted_rating"]]

In [169]:
content_based_data = ndf.copy()

In [171]:
merged_df = pd.merge(content_based_data, df_main, on='original_title', how='inner')

In [173]:
merged_df.to_csv("datasets/main_df.csv")

In [175]:
merged_df.head()

       id                            original_title  weighted_rating
0   19995                                    Avatar         7.134952
1     285  Pirates of the Caribbean: At World's End         6.786532
2  206647                                   Spectre         6.270830
3   49026                     The Dark Knight Rises         7.487181
4   49529                               John Carter         6.098502

In [177]:
def get_recommendations(title, cosine_sim=cosine_sim, df=df2):
    idx = df2.index[df2['original_title'] == title][0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:50]  # Get top 50 similar movies

    # Adjust scores based on weighted rating
    movie_indices = [i[0] for i in sim_scores]
    movies = df2.iloc[movie_indices].copy()
    movies = movies.sort_values('weighted_rating', ascending=False)

    movies = movies[movies["original_title"] != title]
    movies = movies[movies["weighted_rating"] > 5.8]
    movies = movies[['original_title', "id", 'weighted_rating']]
    random_movie = df.sample(n=10)
    return list(random_movie["original_title"]),list(random_movie["id"])

In [179]:
get_recommendations("The Avengers", df =merged_df )

(["King's Ransom",
  'Western Religion',
  'Tango & Cash',
  'Bangkok Dangerous',
  'Hide and Seek',
  'RoboCop',
  'Twin Falls Idaho',
  'Doctor Dolittle',
  'Tycoon',
  'Jerry Maguire'],
 [27360, 376010, 9618, 13184, 11096, 97020, 33430, 3050, 56930, 9390])